In [1]:
import pandas as pd 

pd.read_csv('assets/filtered_data.csv')

,Name,Category,Film,Win_Oscar?,Year_Ceremony,Gender,Race or Ethnicity,Sexual orientation,Religion,Age
0,Richard Barthelmess,ACTOR,The Noose,False,1928,Male,White,Straight,Na,30
1,Emil Jannings,ACTOR,The Last Command,True,1928,Male,White,Bisexual,Na,40
2,Louise Dresser,ACTRESS,A Ship Comes In,False,1928,Female,White,Straight,Na,40
3,Janet Gaynor,ACTRESS,7th Heaven,True,1928,Female,White,Straight,Na,20
4,Gloria Swanson,ACTRESS,Sadie Thompson,False,1928,Female,White,Straight,Na,30
...,...,...,...,...,...,...,...,...,...,...
2326,Sean Baker,DIRECTING,Anora,True,2025,Male,White,Straight,Na,50
2327,Brady Corbet,DIRECTING,The Brutalist,False,2025,Male,White,Na,Na,30
2328,James Mangold,DIRECTING,A Complete Unknown,False,2025,Male,White,Straight,Na,60
2329,Jacques Audiard,DIRECTING,Emilia Pérez,False,2025,Male,White,Na,Na,70
2330,Coralie Fargeat,DIRECTING,The Substance,False,2025,Female,White,Na,Na,40

In [7]:
categories = ['Race or Ethnicity', 'Gender', 'Religion', 'Age', 'Sexual orientation']
df = pd.read_csv('assets/filtered_data.csv')

# filter columns 
df = df[categories]

In [11]:
# describe the data
for category in categories:
    print(f"Category: {category}")
    print(df[category].value_counts())
    print("\n")

Category: Race or Ethnicity
Race or Ethnicity
White                 2140
Black                   97
Hispanic                42
Asian                   22
Multiracial             16
Middle Eastern           5
Na                       4
Asian/Indian             3
American Aborigine       2
Name: count, dtype: int64


Category: Gender
Gender
Male      1395
Female     936
Name: count, dtype: int64


Category: Religion
Religion
Na                       1534
Roman Catholic            262
Jewish                    215
Atheist                    61
Protestant                 26
Born-Again Christian       23
Agnostic                   23
Presbyterian               21
Baptist                    21
Anglican/Episcopalian      20
Lutheran                   19
Christian Science          18
Buddhist                   14
Quaker                     12
Mormon                     10
Deist                      10
Scientology                 7
Disciples of Christ         6
Christian                   5
Methodist                   5
Hindu                       5
Muslim                      3
Russian Orthodox            3
Congregationalist           2
Shia Muslim                 1
Jehovah's Witness           1
Bahai                       1
Cult                        1
Greek Orthodox              1
Name: count, dtype: int64


Category: Age
Age
30    712
40    654
50    384
20    264
60    184
70     79
10     27
80     24
0       3
Name: count, dtype: int64


Category: Sexual orientation
Sexual orientation
Straight             2017
Na                    143
Bisexual               85
Gay                    43
Matter of Dispute      32
Lesbian                 9
Queer                   2
Name: count, dtype: int64